# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
myvenv/
pyvenv.cfg

# Output artifacts
output/

# Tests 
tests/

# Docker
.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db